@{
    ViewBag.Title = "TSS Menü";
    ViewBag.Oran = 75;
}
<div class="row">
    <div class="col-12 text-center">
        <h3>Tedarikçi Seçim Kalitesi</h3>
        <img src="~/Content/Media/semicricle.png" class="img-fluid" />
        <p> % @ViewBag.Oran</p>
    </div>
</div>
<div class="row justify-content-lg-around justify-content-center">
    <div class="col-5 col-lg-2 btn btn-outline-dark m-lg-0 m-1" onclick="window.location='@Url.Action("Index", "Supplier")'">
        <div class="ml-5 mr-5" style="width: 30px; height: 30px; background-color:lightcoral;"></div>
        <div>Tedarikçi Sorgula</div>
    </div>
    <div class="col-5 col-lg-2 btn btn-outline-dark m-lg-0 m-1" onclick="window.location='@Url.Action("Index", "Item")'">
            <div class="ml-5 mr-5" style="width: 30px; height: 30px; background-color:lightcoral;"></div>
            <div>Ürün Sorgula</div>
    </div>
    <div class="col-5 col-lg-2 btn btn-outline-dark m-lg-0 m-1">
            <div class="ml-5 mr-5" style="width: 30px; height: 30px; background-color:lightcoral;"></div>
            <div>Güncelle</div>
    </div>
    <div class="col-5 col-lg-2 btn btn-outline-dark m-lg-0 m-1" onclick="window.location='@Url.Action("Index", "Strategy")'">
            <div class="ml-5 mr-5" style="width: 30px; height: 30px; background-color:lightcoral;"></div>
            <div>Strateji Belirle</div>
    </div>
</div>
